@model List<BookingApiLocationSeachViewModel>
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    @using(Html.BeginForm("Index","Search",FormMethod.Post))
    {
        <label>Şehir Adını Giriniz</label>
        <input type="text" class="form-control" name="cityName">
        <br />
        <button class="btn btn-primary">Şehir için Id Bul</button>
    }
    <table class="table table-bordered">
        <tr>
            <th>Lokayson</th>
        </tr>
        @foreach (var iteem in Model)
        {
            <tr>
                <td>@iteem.dest_id</td>
            </tr>
        }
    </table>
    <br />
    <a href="/BookingByCity/Index/" class="btn btn-dark">Yeni Otel Rezervasyon Bilgisi</a>
</div>