@model List<ApiMovieViewModel>
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film Adı</th>
            <th>Puanı</th>
            <th>Resim</th>
        </tr>
        @foreach(var iteem in Model)
        {
            <tr>
                <td>@iteem.rank</td>
                <td>@iteem.title</td>
                <td>@iteem.rating</td>
                <td><img src="@iteem.image"></td>

                
            </tr>
        }
    </table>
</div>