@model List<ExchangeviewModel.Exchange_Rates>
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Döviz Kodu</th>
            <th>Birim Fiyat</th>
        </tr>
        @foreach (var iteem in Model)
        {
            <tr>
                <td>@iteem.currency</td>
                <td>@iteem.exchange_rate_buy</td>
            </tr>
        }
    </table>
</div>